{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

   <div class="card text-bg-secondary mb-5">
  <img src="{{ article.image }}" class="card-img-top img-responsive" height="auto" max-width="100%" display="block" alt="image">
  <div class="card-body">
    <h5 class="card-title">{{ article.titre }}</h5>
    <p class="card-text">{{ article.description }}</p>
  </div>
</div>
<button class="btn btn-warning"><a href="{{ path('app_commentaire_new',{'id': article.id}) }}">Ajouter un commentaire</a></button>
    </div>

    <div>
        {% for commentaire in commentaires %}

        <div>{{commentaire.user.userIdentifier}} a dit :</div>
        <div>{{commentaire.contenu}}</div>
        
        {% endfor %}
    </div>


{% endblock %}
